# Project plan (PDFs, diagrams)
plan/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool (LiteIDE)
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Custom scripts
push.sh
scripts/